*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid green;
    padding: 2rem;
}
.header{
    text-align: center;
}
.break-main{
    margin: 1rem 2rem;
}
.session-main{
    margin: 1rem 2rem;
}
.session-time{
     margin: 1rem 2rem;
     border: 1px solid yellow;
}
.btn-arrow{
    display: flex;
    justify-content: space-around;
    border: 1px solid pink;
    width: 150px;
    padding: 1rem;
}
.time{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid purple;
}
.timer{
    text-align: center;
    margin: 1rem;
}